{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Solutons a Corporate Category Bootstrap Responsive Website Template - Home : W3Layouts</title>
  <link href="//fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{%  static 'webhtml/assets/css/style-starter.css %}" ">
</head>

<body>
<header class="w3l-header">
	<nav class="navbar navbar-expand-lg navbar-light fill px-lg-0 py-0 px-3">
		<div class="container">
			<a class="navbar-brand" href="/">
				<span class="fa fa-globe"></span> Solutions <span class="logo">Web Design Agency</span></a>
			<button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<!-- <span class="navbar-toggler-icon"></span> -->
				<span class="fa icon-expand fa-bars"></span>
				<span class="fa icon-close fa-times"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active">
						<a class="nav-link" href="/">Home</a>
					</li>
					<li class="nav-item @@about__active about-item">
						<a class="nav-link" href="#">Company</a>
                        <ul class="dropdown-menu-sub">
                          <li><a class="dropdown-item" href="about.php">About us</a></li>
                          <li><a class="dropdown-item" href="vision-mission.php">Vision & Mission</a></li>
                          <li><a class="dropdown-item" href="why-choose-us.php">Why Choose us</a></li>
                          <li><a class="dropdown-item" href="career-with-us.php">Career With us</a></li>
                        </ul>
					</li>
                    <li class="nav-item @@about__active service-item">
                        <a class="nav-link" href="#">Service</a>
                        <ul class="dropdown-menu-sub mega_menu">
                          <div class="row">
                              <div class="col-sm-3">
                                  <ul>
                                    <h5>Web Design</h5>
                                      <li><a href="static-web-desgin.php" class="dropdown-item">Static Web Design</a></li>
                                      <li><a href="responisve-web-desgin.php" class="dropdown-item">Responsive Web Design</a></li>
                                      <li><a href="psd-to-html.php" class="dropdown-item">PSD To HTML</a></li>
                                      <li><a href="website-maintenance.php" class="dropdown-item">Website Maintenance</a></li>
                                    </ul>
                              </div>
                              <div class="col-sm-3">
                                  <ul>
                                    <h5>Degital Marketing</h5>
                                      <li><a href="seo-service.php" class="dropdown-item">SEO Services</a></li>
                                      <li><a href="social-media-marketing.php" class="dropdown-item">Social Media Marketing</a></li>
                                      <li><a href="google-awards.php" class="dropdown-item">Google Adwords (PPC)</a></li>
                                      <li><a href="bulk-sms-service.php" class="dropdown-item">Bulk SMS Services</a></li>
                                  </ul>
                              </div>
                              <div class="col-sm-3">
                                  <ul>
                                    <h5>Graphic Design</h5>
                                      <li><a href="logo-desgin.php" class="dropdown-item">Logo Design</a></li>
                                      <li><a href="#web-layout-design.php" class="dropdown-item">Web Layout Design</a></li>
                                      <li><a href="#" class="dropdown-item">Brochure Design</a></li>
                                      <li><a href="#" class="dropdown-item">Corporate Design</a></li>
                                  </ul>
                              </div>
                              <div class="col-sm-3">
                                  <ul>
                                    <h5>Web Development</h5>
                                      <li><a href="#" class="dropdown-item">PSD To WordPress</a></li>
                                      <li><a href="#" class="dropdown-item">E-Commerce Website</a></li>
                                  </ul>
                              </div>
                              <div class="col-sm-3">
                                  <ul>
                                    <h5>Web Start Up</h5>
                                      <li><a href="#" class="dropdown-item">Domain Registration</a></li>
                                      <li><a href="#" class="dropdown-item">Web Hosting</a></li>
                                      <li><a href="#" class="dropdown-item">E-Mail / SSL Services</a></li>
                                  </ul>
                              </div>
                              <div class="col-sm-3">
                                  <ul>
                                    <h5>Content Writing</h5>
                                      <li><a href="#" class="dropdown-item">Hindi Content</a></li>
                                      <li><a href="#" class="dropdown-item">English Content</a></li>
                                  </ul>
                              </div>
                          </div>
                        </ul>
                    </li>
					<li class="nav-item @@contact__active">
						<a class="nav-link" href="contact.php">Contact</a>
					</li>
				</ul>
				<div class="ml-lg-3">
					<a href="#url" class="btn btn-style btn-effect">Get Started</a>
				</div>
			</div>
		</div>
	</nav>
</header>