{% extends "webhtml/basic.html" %}
{% load static %}
{% block title %} home {% endblock %}
{% block body %} 

<section id="home" class="w3l-banner py-5" style="background: url(assets/images/home1.jpg);">
  <div class="container">
      <div class="banner-wrapper">
          <div class="">
              <span class="text text-white">We work together !</span>
              <h1 class="mb-4 title text-white">We are a leading web design agency providing creative solutions.</h1>
              <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe sapiente dicta sequi ipsum nulla
                  obcaecati sunt non aliquid repellat pariatur amet modi cumque nihil.</p>
          </div>
          <!-- <div class="row">
            <div class="col-lg-9 mx-auto">
              <img src="assets/images/banner1.png" alt="" class="img-fluid mt-5">
            </div>
          </div> -->
      </div>
  </div>
</section>
<div class="w3l-about-us py-5">
  <div class="container pt-lg-5 pt-sm-4">
      <div class="maghny-gd-1">
          <div class="row about-text">
              <div class="col-lg-4">
                  <h3 class="title-big">Creative Design Agency dedicated to our customers</h3>
              </div>
              <div class="col-lg-4 mt-lg-0 mt-4">
                  <p class="">Lorem ipsum dolor sit amet consectetur set adipisicing elit. Doloribus veritatis
                      incidunt iste totam, consequuntur minus assumenda commodi sint asperiores.
                      sed incidunt alias. Lorem ipsum dolor sit amet.</p>
              </div>

              <div class="col-lg-4 mt-lg-0 mt-2">
                  <p class="">Lorem ipsum dolor sit amet consectetur set adipisicing elit. Doloribus veritatis
                      incidunt iste totam, consequuntur minus assumenda commodi sint asperiores.
                      et alias.</p>
              </div>
          </div>

          <div class="w3l-customers row my-lg-5 my-4">
              <div class="col-md-12">
                  <div class="owl-three owl-carousel owl-theme logo-view">
                      <div class="item">
                          <img src="assets/images/logo1.png" alt="company-logo" class="img-fluid">
                      </div>
                      <div class="item">
                          <img src="assets/images/logo4.png" alt="company-logo" class="img-fluid">
                      </div>
                      <div class="item">
                          <img src="assets/images/logo2.png" alt="company-logo" class="img-fluid">
                      </div>
                      <div class="item">
                          <img src="assets/images/logo5.png" alt="company-logo" class="img-fluid">
                      </div>
                      <div class="item">
                          <img src="assets/images/logo3.png" alt="company-logo" class="img-fluid">
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<section class="w3l-index3" id="about">
  <div class="midd-w3 py-5">
      <div class="container py-lg-4 py-md-3">
          <div class="row">
              <div class="col-lg-6 about-right-faq align-self">
                  <span class="text mb-2">Our mission and vision</span>
                  <h3 class="title-big">We aim to deliver quality creative solutions</h3>
                  <p class="mt-4">Lorem ipsum viverra feugiat. Pellen tesque libero ut justo,
                      ultrices in ligula. Semper at tempufddfel. Lorem ipsum dolor sit amet dolor consect etur adipisicing
                      elit. Non quae, fugiat consequatur sed voluptatem nihil ad. Lorem ipsum dolor sit amet</p>
                  <a href="about.html" class="btn btn-style btn-effect mt-lg-5 mt-4">Learn about us</a>
              </div>
              <div class="col-lg-6 left-wthree-img text-lg-right mt-lg-0 mt-2">
                  <div class="position-relative">
                      <img src="assets/images/about.png" alt="" class="radius-image img-fluid">
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- /bottom-grids-->
<section class="w3l-bottom-grids-6 py-5" id="services">
  <div class="container py-lg-5 py-md-4">
          <span class="text text-center mb-2">What we offer</span>
          <h3 class="title-big text-center mb-5">Creative Services that matter</h3>
    <div class="grids-area-hny main-cont-wthree-fea row">
      <div class="col-lg-4 col-sm-6 grids-feature">
        <div class="area-box">
          <img src="assets/images/icon1.png" class="mb-3" alt="" />
          <h4><a href="#feature" class="title-head">Website design</a></h4>
          <p>Vivamus a ligula quam. Ut blandit eu leo non. Duis sed doloramet laoreet. Lorem ipsum dolor sit amet Ut blandit eu leo.</p>
                  </div>
      </div>
      <div class="col-lg-4 col-sm-6 grids-feature mt-sm-0 mt-5">
        <div class="area-box">
          <img src="assets/images/icon2.png" class="mb-3" alt="" />
          <h4><a href="#feature" class="title-head">Logo Design</a></h4>
          <p>Vivamus a ligula quam. Ut blandit eu leo non. Duis sed doloramet laoreet. Lorem ipsum dolor sit amet Ut blandit eu leo.</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 grids-feature mt-lg-0 mt-5">
        <div class="area-box">
          <img src="assets/images/icon3.png" class="mb-3" alt="" />
          <h4><a href="#feature" class="title-head">Web support</a></h4>
          <p>Vivamus a ligula quam. Ut blandit eu leo non. Duis sed doloramet laoreet. Lorem ipsum dolor sit amet Ut blandit eu leo.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="w3l-index3" id="about">
  <div class="midd-w3 py-5">
      <div class="container py-lg-5 py-md-3">
          <div class="row">
              <div class="col-lg-5 left-wthree-img text-lg-right">
                  <div class="backleftimg position-relative">
                      <img src="assets/images/about1.jpg" alt=""style="border: 15px solid #fff;" class="position-relative radius-image img-fluid shadow overflow-hidden rounded-circle">
                  </div>
              </div>
              <div class="col-lg-7 about-right-faq align-self">
                  <span class="text mb-2">Our mission and vision</span>
                  <h3 class="title-big">Our creative team knows how to develop a stunning website.
                  </h3>
                  <p class="mt-4">Lorem ipsum viverra feugiat. Pellen tesque libero ut justo,
                      ultrices in ligula. Semper at tempufddfel. Lorem ipsum dolor sit amet dolor consect etur adipisicing
                      elit. Non quae, fugiat consequatur sed voluptatem nihil ad. Lorem ipsum dolor sit amet</p>
                      <a href="#about" class="btn btn-style btn-effect mt-lg-5 mt-4">Get a free quote</a>
              </div>
          </div>
      </div>
  </div>
</section>
<section class="w3l-technologies" >
  <div class="midd-w3 py-5">
      <div class="container py-lg-5 py-md-3">
          <div class="row">
              <div class="col-lg-6 technologies-left pr-lg-5">
                  <img src="assets/images/logo1.png" alt="company-logo" class="img-fluid">
                  <img src="assets/images/logo2.png" alt="company-logo" class="img-fluid">
                  <img src="assets/images/logo3.png" alt="company-logo" class="img-fluid">
                  <img src="assets/images/logo4.png" alt="company-logo" class="img-fluid">
                  <img src="assets/images/logo5.png" alt="company-logo" class="img-fluid">
                  <img src="assets/images/logo4.png" alt="company-logo" class="img-fluid">
                  <img src="assets/images/logo2.png" alt="company-logo" class="img-fluid">
                  <img src="assets/images/logo1.png" alt="company-logo" class="img-fluid">
              </div>
              <div class="col-lg-6 about-right-faq align-self mt-lg-0 mt-md-5 mt-4">
                  <span class="text mb-2">Our Technologies</span>
                  <h3 class="title-big">Integrating cutting-edge web technologies
                  </h3>
                  <p class="mt-4">Lorem ipsum viverra feugiat. Pellen tesque libero ut justo,
                      ultrices in ligula. Semper at tempufddfel. Lorem ipsum dolor sit amet dolor consect etur 
                      adipisicing elit. Non quae, fugiat sed.</p>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="w3l-stats py-5" id="stats">
  <div class="gallery-inner container py-md-5 py-4">
      <div class="row stats-con">
          <div class="col-md-4 col-6 stats_info counter_grid">
              <h3>Founded in 2020</h3>
              <p class="counter">2020</p>
              <span>Year we Founded</span>
          </div>
          <div class="col-md-4 col-6 stats_info counter_grid1">
              <h3>We proudly Received</h3>
              <p class="counter">120</p>
              <span>No: of Awards</span>
          </div>
          <div class="col-md-4 col-6 stats_info counter_grid mt-md-0 mt-5">
              <h3>Number of clients</h3>
              <p class="counter">1500</p>
              <span>Daily clients</span>
          </div>
      </div>
  </div>
</section>
<div class="quote py-5">
  <div class="container py-lg-4">
      <div class="quote-left">
          <div class="left">
              <h3 class="title-big mb-3">Lets discuss your Idea, We're ready to work for you</h3>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum impedit aut quae reprehenderit
                  iusto
                  nihil itaque facilis sapiente at fugit?</p>
          </div>
          <a href="contact.html" class="btn btn-style btn-effect mt-lg-0 mt-4">Contact Us</a>
      </div>
  </div>
</div>
<section class="w3l-footer-29-main">
  <div class="footer-29 py-5">
    <div class="container py-lg-4">
      <div class="row footer-top-29">
        <div class="col-lg-3 col-md-6 col-sm-5 footer-list-29 footer-1">
          <div class="footer-logo mb-4">
            <a class="navbar-brand" href="index.html">
              <span class="fa fa-globe"></span> Solutions <span class="logo">Web Design Agency</span></a>
            </div>
          <ul>
            <li><a href="tel:+7-800-999-800"><span class="fa fa-phone"></span> +(21)-255-999-8888</a></li>
            <li><a href="mailto:design@mail.com" class="mail"><span class="fa fa-envelope-open-o"></span>
                design@mail.com</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-7 offset-lg-1 col-6 footer-list-29 footer-2 mt-sm-0 mt-5">

          <ul>
            <h6 class="footer-title-29">Company</h6>
            <li><a href="about.html">About company</a></li>
            <li><a href="#blog"> Blog posts</a></li>
            <li><a href="#pricing"> Pricing plans</a></li>
            <li><a href="contact.html">Contact us</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-5 col-6 footer-list-29 footer-3 mt-lg-0 mt-5">
          <h6 class="footer-title-29">Services</h6>
          <ul>
            <li><a href="#about">What we do</a></li>
            <li><a href="#blog"> How we work</a></li>
            <li><a href="#offer">What we offer</a></li>
          </ul>

        </div>
        <div class="col-lg-4 col-md-6 col-sm-7 footer-list-29 footer-4 mt-lg-0 mt-5">
          <h6 class="footer-title-29">Subscribe to our Newsletter </h6>
          <p class="text-white">Enter your email and receive the latest news, updates and special offers from us.</p>

          <form action="#" class="subscribe" method="post">
            <input type="email" name="email" placeholder="Your Email Address" required="">
            <button><span class="fa fa-envelope-o"></span></button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}