<?php include 'header.php'; ?>
<section class="bradcrumbsec">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>Why Choose Us</h2>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li> | Why Choose Us</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="whychoose_sec py-5 mt-4">
	<div class="container position-relative">
        <div class="vlign_custom"></div>
		<div class="row">
			<div class="col-lg-12 text-center mb-5">
				<h5>How We Work</h5>
                <h2><b>Preparing For Your Success</b></h2>
				<p>Maecenas varius sem dui. Vestibulum semper ante a viverra posuere. Maecenas eleifend fermentum eros, et tristique eros.</p>
			</div>
			<div class="col-lg-12 mb-5">
                <div class="choose-why">
                    <div class="chooseimg position-relative text-center">
                        <img src="assets/images/01.png" alt="image">
                    </div>
                    <div class="choosetext position-relative">
                        <div class="choosecount">01</div>
                        <div class="choosecontent pl-4">
                            <h5>Business Collaboration</h5>
                            <p>Generators on the Internet tend to repeat predefined chunks as necessary</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 mb-5">
                <div class="choose-why">
                    <div class="choosetext position-relative second_border">
                        <div class="choosecount">02</div>
                        <div class="choosecontent pl-4">
                            <h5>Business Collaboration</h5>
                            <p>Generators on the Internet tend to repeat predefined chunks as necessary</p>
                        </div>
                    </div>
                    <div class="chooseimg position-relative text-center second_circle">
                        <img src="assets/images/02.png" alt="image">
                    </div>
                </div>
            </div>
			<div class="col-lg-12 mb-5">
                <div class="choose-why">
                    <div class="chooseimg position-relative text-center">
                        <img src="assets/images/03.png" alt="image">
                    </div>
                    <div class="choosetext position-relative">
                        <div class="choosecount">03</div>
                        <div class="choosecontent pl-4">
                            <h5>Business Collaboration</h5>
                            <p>Generators on the Internet tend to repeat predefined chunks as necessary</p>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</div>
</section>
<?php include 'footer.php'; ?>
