<?php include 'header.php'; ?>
<section class="bradcrumbsec">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>Static Web Design</h2>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li> | Static Web Design</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="static_web_sec py-5 mt-4">
	<div class="container position-relative">
		<div class="row">
			<div class="col-lg-4 mb-5">
                <div class="static_leftbox">
                    <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-head" id="headingOne">
                        <h2 class="mb-0" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                         Web Design
                        </h2>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body pt-2">
                            <li><a href="static-web-desgin.php" class="dropdown-item active">Static Web Design</a></li>
                            <li><a href="responisve-web-desgin.php" class="dropdown-item">Responsive Web Design</a></li>
                            <li><a href="psd-to-html.php" class="dropdown-item">PSD To HTML</a></li>
                            <li><a href="website-maintenance.php" class="dropdown-item">Website Maintenance</a></li>
                        </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-head" id="headingTwo">
                        <h2 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Degital Marketing
                        </h2>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body pt-2">
                            <li><a href="seo-service.php" class="dropdown-item">SEO Services</a></li>
                            <li><a href="social-media-marketing" class="dropdown-item">Social Media Marketing</a></li>
                            <li><a href="google-awards.php" class="dropdown-item">Google Adwords (PPC)</a></li>
                            <li><a href="bulk-sms-service.php" class="dropdown-item">Bulk SMS Services</a></li>
                        </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-head" id="headingThree">
                        <h2 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Graphic Design
                        </h2>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body pt-2">
                            <li><a href="#" class="dropdown-item">Logo Design</a></li>
                            <li><a href="#" class="dropdown-item">Web Layout Design</a></li>
                            <li><a href="#" class="dropdown-item">Brochure Design</a></li>
                            <li><a href="#" class="dropdown-item">Corporate Design</a></li>
                        </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-head" id="headingfour">
                        <h2 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                        Web Development
                        </h2>
                        </div>
                        <div id="collapsefour" class="collapse" aria-labelledby="headingfour" data-parent="#accordionExample">
                            <div class="card-body pt-2">
                                <li><a href="#" class="dropdown-item">PSD To WordPress</a></li>
                                <li><a href="#" class="dropdown-item">E-Commerce Website</a></li>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-head" id="headingFive">
                        <h2 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        Web Start Up
                        </h2>
                        </div>
                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                            <div class="card-body pt-2">
                                <li><a href="#" class="dropdown-item">Domain Registration</a></li>
                                <li><a href="#" class="dropdown-item">Web Hosting</a></li>
                                <li><a href="#" class="dropdown-item">E-Mail / SSL Services</a></li>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-head" id="headingFive">
                        <h2 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        Content Writing
                        </h2>
                        </div>
                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                            <div class="card-body pt-2">
                                <li><a href="#" class="dropdown-item">Hindi Content</a></li>
                                <li><a href="#" class="dropdown-item">English Content</a></li>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="bgcontact" style="background: url(assets/images/bg_contact.jpg);">
                        <div class="position-relative text-white">
                        <h3 class="text-white mb-4 font-weight-bold">Need any help?</h3>
                        <p class="text-white mb-3" style="font-size: 15px;">We are here to help our customer any time. You can call on 24/7 To Answer Your Question.</p>
                        <a class="text-white" href="tel: 1800855800">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z" />
                        </svg> 1800855800
                        </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 mb-5">
                <div class="static-rightbox">
                    <div class="static_top_img">
                        <img src="assets/images/1.jpg" alt="Logo Design" width="100%">
                    </div>
                    <h1 class="my-4">Creative & Digital ideas</h1>
                    <p>We denounce with righteous indige nation and dislike men who are so beguiled and demo realized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue cannot foresee. These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled data structures manages data in technology.</p>
                    <p>Nam libero tempore, cum soluta nobis est elig endi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repelle ndus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.</p>
                    <p>Nam libero tempore, cum soluta nobis est elig endi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repelle ndus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias. consequatur aut perferendis doloribus asperiores repellat. The wise man therefore always holds in these matters to this principle of selection: he rejects pleasures to secure other greater pleasures, or else he endures pains to avoid worse pains. pleasures have to be repudiated and annoyances accepted.</p>
                </div>
            </div>
		</div>
	</div>
</section>
  
<section class="bg_contact_service" style="background: url(assets/images/bg_service.png);">
<div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>WE ARE A FULL SERVICE</h1>
                <p>With such a primary emphasis on Open Source Technology and Networks, Softrab Solutions provides online and smartphone based app development services.</p>
                <a href="contact.php" class="text-white font-weight-bold mt-3">Contact Us</a>
            </div>
        </div>
    </div>
</section>

<?php include 'footer.php'; ?>


