{% extends "webhtml/basic.html" %}
{% load static %}
{% block title %} Thank You {% endblock %}
{% block body %} 
<section class="bradcrumbsec">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>Thank You </h2>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li> | Thank You </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="w3l-aboutblock py-5" id="about">
    <div class="midd-w3">
        <div class="container py-lg-5 py-md-3">
            <div class="row">
                <div class="col-lg-10 left-wthree-img text-righ">
                    <div class="position-relative">
                        <img src="/static/assets/images/g4.jpg" alt="" class="img-fluid">
                        <a href="#small-dialog" class="popup-with-zoom-anim play-view text-center position-absolute">
                            <span class="video-play-icon">
                                <span class="fa fa-play"></span>
                            </span>
                        </a>
                        <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                 
                    </div>
                </div>
            
            </div>
        </div>
    </div>
</section>


{% endblock %}
